* {
  padding: 0%;
  margin: 0%;
}
body {
  height: 100vh;
  width: 100%;
}

/*movile versión*/
main {
  display: grid;
  grid-template-areas:
    "header"
    "aside"
    "section"
    "footer";
  grid-template-rows:
    7.5vh
    9vh
    75vh
    8vh;
}
header {
  grid-area: header;
  background-color: rgb(47, 211, 55);
}

.flex-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-top: 2vh;
  margin-bottom: 1vh;
}

aside {
  grid-area: aside;
}

.flex-aside {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(117, 91, 60);
  padding: 1vh;
}

section {
  grid-area: section;
}

.pagination {
  display: flex;
  margin-top: 2%;
  align-items: center;
  justify-content: center;
}

.flex-movile-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}
footer {
  grid-area: footer;
}

.flex-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  background-color: rgb(47, 211, 55);
}

.flex-footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(47, 211, 55);
}

.lateral-menu {
  display: none;
}

.flex-laptop-section {
  display: none;
}
/*Tablet*/
@media (min-width: 576) {
  .flex-movile-section {
    display: none;
  }
}

/*PC*/
@media (min-width: 992px) {
  main {
    display: grid;
    grid-template-areas:
      "header aside"
      "header section"
      "header section"
      "footer section";
    grid-template-columns: 20% auto;

    grid-template-rows:
      7.5vh
      9vh
      75vh
      8vh;
  }
  header {
    grid-area: header;
    background-color: rgb(47, 211, 55);
    height: 95vh;
    width: 20%;
    position: fixed;
  }
  .lateral-menu {
    display: flex;
  }

  .lateral-menu li {
    display: flex;
    justify-content: center;
    list-style: none;
  }

  .flex-movile-section {
    display: none;
  }

  .flex-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    background-color: rgb(47, 211, 55);    
    width: 20%;
    position: fixed;
  }
  .flex-footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(47, 211, 55);  

  }

  .flex-laptop-section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin: 2%;
  }
}
